<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.zsheng.ArticleReader</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>articles</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/DMSans.ttf</string>
		<string>Fonts/EBGaramond.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
